body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-center {
  text-align: center;
}

.font-justify {
  text-align: justify;
}

.font-bold {
  font-weight: bold;
}

.font-large {
  font-size: 4vw;
}

.font-medium {
  font-size: 3.3vw;
}

.font-small {
  font-size: 2.6vw;
}

.font-verysmall {
  font-size: 2vw;
}

.font-white {
  color: white;
}

.font-red {
  color: red;
}

.font-blue {
  color:blue;
}

.font-indent{
  margin-left: 2%;
}

.font-twiceindent{
  margin-left: 4%;
}

@media screen and (min-width: 725px) {
  .font-large {
    font-size: 2.7vw;
  }
  
  .font-medium {
    font-size: 1.8vw;
  }

  .font-small {
    font-size: 1.07vw;
  }

  .font-verysmall {
    font-size: 0.9vw
  }

}